.related-products {
    padding: 20px;
    border-radius: 8px;

    .related-prod-heading-para {
        font-size: 24px;
        margin-bottom: 20px;
        color: #333;
    }

    .category-tabs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-bottom: 15px;

        button {
            padding: 8px 12px;
            border: 1px solid #ccc;
            background: white;
            cursor: pointer;
            transition: 0.3sease-in-out;
            border-radius: 4px;
            outline: 0;
            color: #000;

            &.active {
                background: #000;
                color: #fff;
            }
        }
    }

    .related-products-slider {
        width: 100%;
        background-color: #f9f9f9;
        min-width: 1px;
        display: grid;
    }

    .swiper {
        width: 100%;
        padding: 10px;
        overflow: hidden; // Ensure Swiper stays within its container

        @media (max-width:768px) {
            padding: 0;
        }
    }

    .product-card {
        width: 100%; // Ensure cards take full width of the slide
        text-align: center;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 10px;
        background-color: #fff;
        box-sizing: border-box; // Include padding and border in width calculation

        .img-wrap {
            overflow: hidden;
            border-radius: 8px;
            height: 212px;
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                border-radius: 8px;
                transition: transform 0.3s ease;
                object-fit: cover;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .price-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .price {
                font-size: 14px;
                font-weight: 600;
                margin: 0;
            }

            .price-range {
                font-size: 10px;
            }
        }

        .product-name {
            margin: 10px 0;
            font-size: 13px;
            color: #333;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left;
            min-height: 40px;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: #333;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        &::after {
            font-size: 20px;
        }
    }

    .swiper-pagination-bullet {
        background-color: #333;
    }
}